.card_area{
    width: 23%;
    height: 82px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.left_icon{
    font-size: 30px;
    color: #a768f3;
    margin-left: 20px;
}
.right_area{
    margin-left: 60px;
}
.top_title{
    color: #53505f;
    font-size: 12px;
}
.bottom_text{
    color: #53505f;
    font-size: 16px;
    font-weight: bold;
}